doctype html
html
	head
		title Overdue Loans
		link(rel='stylesheet', href='style.css')
	nav
		ul
			li
				a(href='../') Home
			li
				a(href='books') Books
			li
				a(href='patrons') Patrons
			li
				a(href='loans') Loans
	body
		h1 Overdue Loans
		p
			a.button(href='/loans/new') Create New Loan
		p
			| Filters 
			a(href='/loans') All
			|  
			a(href='/loans?filter=overdue') Overdue
			|  
			a(href='/loans?filter=checked_out') Checked Out
		table
			each loan in loans
					tr
						td
							a(href="/books/" +loan.Books.id) #{loan.Books.title}
							td
								a(href="/patrons/" + loan.Patrons.id) #{loan.Patrons.first_name} #{loan.Patrons.lat_name}
							td #{loan.loaned_on}
							td #{loan.return_by}
							td #{loan.returned_on}
							td
								a(href="/books/" + loan.Books.id + '/return') Return Book

